/*Openning Page*/

body{
    background: url('/images/opening-page.jpg')no-repeat center center fixed; 
    -webkit-background-size: cover;
    -moz-background-size: cover;
    -o-background-size: cover;
    background-size: cover;
    padding: 2%;
}

.main-page{
    margin-top:20%;
    margin-left:5%
}

.main-page-head{
    font-size: 500%;
    color:#faebd7;
}
.btn{
    color:#faebd7;
}
